{% extends 'add/base.html' %}
{% block center %}
    <div class="col-sm-12">
        <div class="row">
            <h2 style="margin-top:60px; margin-bottom: 45px;">编辑用户信息</h2>
        </div>
        <div class="row">
            <div class="bs-example" data-example-id="simple-table">
                <form action="{{ url_for('user.editUser') }}" method="post">
                <table class="table">
                    <thead>
                    <tr class="active">
                        <th>项目名称</th>
                        <th>创建时间</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <input type="hidden" name="id" value="{{ user.id }}">
                        <td><input type="text" class="input-sm" name="username" value="{{ user.username }}">
                        </td>
                        <td>{{ user.createtime }}</td>
                        <td><input type="button" class="btn btn-sm btn-success" value="取消" onclick="javascript:window.history.back(-1);">
                        <input type="submit" class="btn btn-sm btn-success" value="确定"></td>
                    </tr>
                    </tbody>
                </table>
                </form>
            </div>
        </div>
    </div>
{% endblock %}