{% extends 'add/base.html' %}
{% block mycss %}
    <style>
        .form-control {
            height: 34px;
            margin-top: 10px;
        }

        .btn-success {
            margin-top: 10px;
            margin-right: 15px;
            height: 33px;
        }

        .input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group {
            margin-top: 9px;
            margin-left: -20px;
        }

        .input-group-btn {
            opacity: 0.6;
        }

        .pagination > li > a {
            margin-right: 10px;
        }

        .page {
            border-radius: 20% 20% 20% 20%/20% 20% 20% 20%;
        }

        .table > tbody > tr > td {
            border: 0px;
            text-align: center;
            vertical-align: middle;
        }

        .table > thead > tr > th {
            border: 0px;
            text-align: center;
            height: 50px;
            vertical-align: middle;
        }

        tbody {
            height: 80px;
        }

        body {
            font-family: 微软雅黑;
        }
    </style>
{% endblock %}
{% block center %}
    <div class="row">
        <nav class="navbar navbar-default" style="margin-left: 2px; margin-top: 50px;height: 68px;">
            <div class="container-fluid" style="margin-left: auto;">
                <div class="navbar-header">
                    <h2 style="margin-top: 15px">用户信息</h2>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <div class="navbar-form navbar-right">
                        <a href="{{ url_for('user.add_user') }}" class="btn btn-success">新增1</a>
                        <form class="form-group" action="{{ url_for('user.searchUserInfo') }}" method="post">
                            <input type="text" name="search" class="form-control" placeholder="输入姓名进行搜索">
                            <span class="input-group-btn pull-right">
                                <button type="submit" class="btn btn-default glyphicon glyphicon-search"></button>
                            </span>
                        </form>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <div class="row">
        <div style="margin-top: 1px;">
            <!-- 人员信息表格 -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="home">
                    <div class="bs-example" data-example-id="hoverable-table">
                        <table class="table table-hover table-bordered">
                            <thead>
                            <tr class="active">
                                <th>序号</th>
                                <th>姓名</th>
                                <th>手机号</th>
                                <th>邮箱</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            {% for user in users %}
                                <tbody>
                                <tr>
                                    <td>{{ loop.index }}</td>
                                    <td>{{ user.username }}</td>
                                    <td>{{ user.phone }}</td>
                                    <td>{{ user.email }}</td>
                                    <td>
                                        <a href="{{ url_for('user.editUser') }}?id={{ user.id }}"
                                           class="btn btn-sm btn-info">编辑</a>
                                        <a href="#" class="btn btn-danger btn-sm" id="delmodal">删除</a>
                                    </td>
                                </tr>
                                </tbody>
                            {% endfor %}
                        </table>
                        <div style="color: #8c8c8c; font-size: 16px; text-align: center;" id="msg">{{ msg }}
                        </div>
                        <nav aria-label="Page navigation" id="pagination" class="col-sm-offset-5">
                            <ul class="pagination pagination-sm">
                                <li>
                                    {% if pagination.has_prev %}
                                        <a href="{{ url_for('user.searchUserInfo') }}?page={{ pagination.prev_num }}"
                                           aria-label="Previous">
                                            <span aria-hidden="true">上一页</span>
                                        </a>
                                    {% else %}
                                        <span aria-hidden="true" class=" btn disabled"
                                              style="margin-right: 10px;">上一页</span>
                                    {% endif %}
                                </li>
                                {% for page_num in range(1, pagination.pages + 1) %}
                                    <li {% if pagination.page == page_num %} class="active" {% endif %}><a
                                            href="{{ url_for('user.searchUserInfo') }}?page={{ page_num }}"
                                            class="page">{{ page_num }}</a>
                                    </li>
                                {% endfor %}
                                <li>
                                    {% if pagination.has_next %}
                                        <a href="{{ url_for('user.searchUserInfo') }}?page={{ pagination.next_num }}"
                                           aria-label="Next">
                                            <span aria-hidden="true">下一页</span>
                                        </a>
                                    {% else %}
                                        <span aria-hidden="true" class="btn disabled">下一页</span>
                                    {% endif %}
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% block myjs %}
        <script>
            let obj = $('#msg');
            if (!$.trim(obj.html())) {
            } else {
                obj.append('<hr>');
            }
        </script>
    {% endblock %}
{% endblock %}
